{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-container w3-teal">
        <h1>Test iGraal</h1>
    </div>
    <div class="w3-container w3-border w3-padding-large" style="margin: 20px 20% ;">
        <div>
            <p><b><label>User</label></b></p>
            <select type="text" class="w3-border w3-input">
                <option>-- choose a value --</option>
            </select>
        </div>
        <hr/>
        <div>
            <table class="w3-table-all">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/w3css.css') }}" />
{% endblock %}
